@charset "UTF-8";
body {
  background-color: #e8fae4;
  margin: 0 10%;
  font-family: "Sofia sans", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
  background:#dbfdd3 url(images/blackgoose.png) no-repeat center 100px fixed;
  text-align: center;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  font-family: "Sofia sans", sans-serif; 
  text-align: center;
  background: url(images/purpledot.png) center top repeat-x;
  background: 
    url(images/purpledot.png) left top repeat-y,
    url(images/purpledot.png) right top repeat-y,
}

a:focus, a:hover {
  color: rgb(158, 207, 249);
  background-color: #fff;
}


h1 {
  text-align: center;
  font-family: "Sofia", cursive;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  text-shadow: .05em .05em .1em lightslategray;
  margin-top: 30px;
}
h2 {
  color: #d1633c;
  font-family: "Sofia", cursive;
  font-size: 1.5em;
  text-align: center;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}

